.light-well
  - if owldiff.format_change
    .alert.alert-warning
      %h4
        %i.fa.fa-exclamation-triangle
        =  t("owlnest.single_change.format_change.title")
      = t("owlnest.single_change.format_change.notice", data: owldiff.format_change.data)
  - if owldiff.ontology_id_change
    .alert.alert-warning
      %h4
        %i.fa.fa-exclamation-triangle
        =  t("owlnest.single_change.ontology_id_change.title")
      %table
        - ["ontology_iri","version_iri"].each do |iri|
          %tr
            %td= t("owlnest.single_change.ontology_id_change.#{iri}")
            %td= owldiff.ontology_id_change.data[iri]

  - Owldiff::OntologyDiff::SET_CHANGE_TYPES.each do |change_type|
    - changes =  owldiff.send("#{change_type}")
    - if changes && !changes.empty?
      - gchanges = changes.group_by{ |change| change.action}.sort
      .panel.panel-default
        .panel-heading
          = t "owlnest.set_changes.#{change_type}.title"
        .panel-body{:role => "tabpanel"}
          %p
            = t "owlnest.set_changes.#{change_type}.explain"
          %ul.nav.nav-tabs{:role => "tablist"}
            - gchanges.each_with_index do |(action,changes),index|
              %li{:role => "presentation", class: index==0 ? "active" : ""}
                %a{"aria-controls" => "#{change_type}_#{action}", "data-toggle" => "tab", :href => "##{change_type}_#{action}", :role => "tab"}
                  %strong{class: owlnest_action_class(action)}
                    = t "owlnest.actions.#{action}"
                    %span.badge
                      = pluralize(changes.size, t("owlnest.set_changes.#{change_type}.name"))
          .tab-content
            - gchanges.each_with_index do |(action,changes),index|
              .tab-pane{:role => "tabpanel", id: "#{change_type}_#{action}", class: index==0 ? "active" : ""}
                .panel-group{id: "#{change_type}_#{action}_panel"}
                  .pre-scrollable
                    - changes.each_with_index do |ochange,index|
                      .panel
                        .panel-heading
                          %a{ class: owlnest_action_class(action), "data-toggle" => "collapse", "data-parent" => "##{change_type}_#{action}_panel" , "aria-controls" => "#{change_type}_#{action}_panel_#{index}" , "href" => "##{change_type}_#{action}_panel_#{index}" }= ochange.value
                        .panel-collapse.collapse{ id: "#{change_type}_#{action}_panel_#{index}" , role: "tabpanel"}
                          .panel-body
                            - if ochange.data.is_a? String
                              = ochange.data
                            - else
                              %dl.dl-horizontal{style: "margin-bottom:0"}
                                - ochange.data.each do |k,v|
                                  %dt
                                    =k
                                  %dd
                                    =v
